.projects {
  display: flex;
  align-items: center;



  &__container {
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;

  }

  &__github {
    font-size: 10rem;
    margin-top: 3rem;
    color: white;
    text-decoration: none;
    border: none;

    @include respond(tab-land) {
      font-size: 20rem;
    }
    

    &:hover {
      cursor: pointer;
    }
  }

  &__presentation {
    flex: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    &__element {
      border: 5px solid white;
      border-radius: 10px;
      width: 40rem;
      height: 30rem;
      box-shadow: 3px 3px 3px rgba(black, 0.3);
      position: relative;

      @media only screen and (max-width: 1550px){
        width: 30rem;
        height: 20rem;
      }


      &--lawenda { 

        &--caption {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          right: 0;
          background-image: url("../img/Screenshot-2018-4-16 Centrum ogrodnicze Lawenda.jpg");
          background-size: cover;
          background-position: center center;
          transition: all 0.5s;
        }

        &:hover .btn {
          opacity: 1;
        }

        &:hover &--caption {
          filter: blur(1px) brightness(60%);
        }
      }

      &--recipes {

        &--caption {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          right: 0;
          background-image: url("../img/Screenshot-2018-4-16 Recipes app.png");
          background-size: cover;
          background-position: center center;
        }
        &:hover .btn {
          opacity: 1;
        }

        &:hover &--caption {
          filter: blur(1px) brightness(60%);
        }
      }

      &--game {


        &--caption {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          right: 0;
          background-image: url("../img/Screenshot-2018-4-16 Pig Game.jpg");
          background-size: cover;
          background-position: center center;
        }

        &:hover .btn {
          opacity: 1;
        }

        &:hover &--caption {
          filter: blur(1px) brightness(60%);
        }
      }
    }
  }
}
