@keyframes moveInTop {
   0% {
       transform: translateY(-3rem);
       opacity: 0;
   }
   80% {
        opacity: .8;
   }
   100% {
        transform: translateY(0);
        opacity: 1;
   }
}

@keyframes moveInRight {
   0% {
       opacity: 0;
       transform: translateX(10rem);
   }
   80% {
       transform: translateX(-1rem);
   }
   100% {
      opacity: 1;
      transform: translate(0);
   }
}

@keyframes moveInBottom {
   0% {
       opacity: 0;
       transform: translateY(10rem);
   }
   100% {
      opacity: 1;
      transform: translate(0);
   }
}

@keyframes bounceInDown {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  99% {
    opacity: .001;
  }
  to {
    opacity: 1;
  }
}


@keyframes loader {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}