*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // 1 rem = 10px
  font-size: 62.5%;

  @include respond(big-desktop) {
    font-size: 75%; // 1rem = 12px
  }

  @include respond(tab-land) {
    font-size: 56.25%; // 1rem = 9px
  }

  @include respond(tab-port) {
    font-size: 50%; // 1rem = 8px
  }
}

::-webkit-scrollbar { 
  display: none; 

  @include respond(phone-land) {
    display: initial;
  }
}

@include respond(phone-land) {

}

body {
  box-sizing: border-box;
  background-color: $color-primary-4;
  transition: background-color 1.5s;
  background-image: url("https://www.transparenttextures.com/patterns/arabesque.png");
}

.rwd-break {
  @include respond(tab-port) {
    display: none;
  }
}


